<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="customs.css">
  <link rel="stylesheet" type="text/css" href="ticket_style.css">
  <!-- VUE JS -->
  <script src="vue.global.js"></script>
  <title>VUE JS Tutorial</title>
</head>

<body>
  <header style="background: #3eaf7c;">
    <h1 class="text-center text-white">VUE JS Practice</h1>
  </header>
  <div class="container">
    <h2><span class="hasTag"> # </span> Declarative Rendering</h2>
    <p>Data binding | Attribute binding | Method | Events | Method parameter</p>
    <hr>
    <div id="app">
      <h4>User Information</h4>
      <ul>
        <li><b>Name:</b> {{ user_info.name }} <span class="hints_text"> ( Data binding )</span></li>
        <li><b>Email:</b> {{ user_info.email }}</li>
        <li>
          <b>Web:</b> <a :href="user_info.web" target="_blank">website</a>
          <span class="hints_text"> ( Attribute binding )</span>
        </li>
        <li><b>Now Date:</b> {{ bd_msg }} <span class="hints_text"> ( Method | Events )</span> </li>
        <button v-on:click="Reverse_msg" class="btn btn-primary"> Reverse </button>
      </ul>
      <p>
        Counter: {{ counter }} <br>
        <button @click="increment" class="btn btn-success mr-2">Increment</button>
        <button @click="decrement" class="btn btn-danger">Decrement</button>
        <span class="hints_text"> ( Method parameter )</span>
        <br> <br>
        <button @click="incrementByParameter(2)" class="btn btn-success mr-2">Increment - 2</button>
        <button @click="decrementByParameter(2)" class="btn btn-danger">Decrement - 2</button>
      </p>
    </div>
  </div>

  <div class="container mt-4">
    <div id="event_modifier">
      <h2><span class="hasTag"> # </span> Event Modifiers</h2>
      <p>@keyup | @click</p>
      <hr>
      <input type="text" @keyup="handleUserInput" placeholder="Enter your name"> <span class="hints_text"> ( using keyup
        method )</span>
      <br>
      Welcome {{input_name}}
      <br> <br>
      <div class="card">
        <div class="card-body" @click="handleCardEvent">
          I am CARD, Click on Me <span class="hints_text"> ( click event on card )</span>
          <br>
          <button @click.stop="AddToCartEvent" class="btn btn-success">Add to cart</button>
        </div>
      </div>
    </div>
  </div>

  <div id="TowWayDataBinding" class="container mt-4">
    <h2><span class="hasTag"> # </span> Two Way Data Binding</h2>
    <p> v-model | v-model.trim | v-model.number</p>
    <hr>

    <input v-model.number="num" type="text" placeholder="Enter a number">
    <span class="hints_text"> ( v-model )</span> <br> <br>

    <label>Entered No: </label> {{num}} <br>
    <label>Result No: </label> {{result}}<br>
    <button @click="getDouble" class="btn btn-success mr-2">Double</button>
    <button @click="getSquare" class="btn btn-primary mr-2">Square</button>
    <button @click="Reset" class="btn btn-danger">Reset</button>
  </div>

  <div id="ConditionalsandLoops" class="container mt-4">
    <hr>
    <h2><span class="hasTag"> # </span> Conditionals and Loops</h2>
    <p> v-if | v-for | computed property</p>
    <hr>
    <h6>If else</h6>
    <span v-if="seen">Now you see me</span> <br>

    <span v-if="2>1">Now you see me</span>

    <h6>For loop</h6>
    <ol>
      <li v-for="todo in todos">
        {{ todo.text }}
      </li>
    </ol>

    <h5>About Me</h5>

    <table class="table table-bordered">
      <tr v-for="(value, key, i) in AboutMe">
        <th>{{ i }}</th>
        <th>{{ key }}</th>
        <td>{{ value }}</td>

      </tr>
    </table>

    <h5>Product List</h5>

    <table class="table table-bordered">
      <thead>
        <tr>
          <td>SN</td>
          <td>Name</td>
          <td>Price</td>
          <td>Level <span class="hints_text"> ( if else )</span></td>
        </tr>
      </thead>
      <tr v-for="(product,i) in products">
        <th>{{ i +1}}</th>
        <th>{{ product.name }}</th>
        <td>{{ product.price }}</td>
        <td>
          <span v-if='product.price < 10'>Low Price</span>
          <span v-else-if='product.price < 15'>Medium Price</span>
          <span v-else>High Price</span>
        </td>
      </tr>
      <tr>
        <td>Total Price: {{ total_price }} <span class="hints_text"> ( computed property )</span></td>
      </tr>
    </table>

    <h5>List Operation</h5>
    <input type="text" v-model="newProduct.name">
    <input type="text" v-model="newProduct.price">
    <button class="btn btn-primary ml-2" @click="AddProduct">Add</button>
    <li v-for="(product,i) in products" :key="product.name">
      {{i}}. <b>Name:</b> {{ product.name }} <b>Price:</b> {{product.price}}
      <button class="btn btn-danger m-2" @click="removeProduct(i)">Remove</button>
    </li>
    <hr>

  </div>

  <div id="ClassandStyleBinding" class="container mt-4">
    <hr>
    <h2><span class="hasTag"> # </span> Class and Style Binding</h2>
    <p> class | style | </p>
    <h1>Coming Soon</h1>
  </div>

  <div id="InvoiceProject" class="container m-4">
    <hr>
    <h2><span class="hasTag"> # </span> Invoice Project</h2>
    <p> Product CURD | Calculation | </p>
    <div class="container">
      <hr>
      <table class="table table-bordered">
        <button class="btn btn-success" @click="addRow">Add row</button>
        <tr v-for="(item, i) in items" :key="item">
          <td>
            <select class="form-control" id="sel1" required>
              <option value="">Choose Product</option>
              <option value="A">A</option>
              <option value="B">B</option>
              <option value="C">C</option>
              <option value="D">D</option>
            </select>
          </td>

          <td>
            <input type="text" class="form-control" name="qty" placeholder="Quantity" required>
          </td>

          <td>
            <input type="text" class="form-control" name="unit_price" placeholder="Unit Price" required>
          </td>

          <td>
            <input type="text" class="form-control" name="total_price" placeholder="Total Price" readonly>
          </td>

          <td v-if="i > 0">
            <button class="btn btn-danger" @click="removeRow(i)">Remove</button>
          </td>

          <td v-else>
            Action
          </td>

        </tr>
      </table>
      <hr>
      <div class="row">
        <div class="col-md-3">
          <select class="form-control" id="sel1" required>
            <option value="">Choose Product</option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
          </select>
        </div>

        <div class="col-md-2">
          <input type="text" class="form-control" name="qty" placeholder="Quantity" required>
        </div>

        <div class="col-md-2">
          <input type="text" class="form-control" name="unit_price" placeholder="Unit Price" required>
        </div>

        <div class="col-md-3">
          <input type="text" class="form-control" name="total_price" placeholder="Total Price" readonly>
        </div>

        <div class="col-md-2">
          <button class="btn btn-primary">Add</button>
        </div>

      </div>

    </div>

  </div>

  <div id="WatcherApp" class="container m-4">
    <hr>
    <h2><span class="hasTag"> # </span> Watcher</h2>
    <p> Watcher | </p>
    <input v-model="mobile" type="text" class="form-control" placeholder="Enter your phone number">
    <span>{{ message }}</span>
  </div>

  <div id="TicketApp" class="container m-4">
    <hr>
    <h2><span class="hasTag"> # </span> Ticket Booking</h2>
    <p> Product CURD | Calculation | </p>
    <div class="container">
      <hr>
      <h1 class="app-title">Ticket Booking App</h1>
      <div class="ticket-app">

        <div class="confirmed-dialog" v-if="confirmed">
          <h3>Ticket confirmed!</h3>
          <hr>
          <br>
          <table class="selected-seats">
            <tr>
              <th>Passenger Name</th>
              <td>{{name}}</td>
            <tr>
              <th>Passenger Contact</th>
              <td>{{mobile}}</td>

            </tr>
            <tr>
              <th>Seats:</th>
              <td>
                <div v-for="(seat, i) in selectedSeats" :key="seat.name">
                  <div>
                    {{seat.name}}
                  </div>

                </div>
              </td>

            </tr>
            <tr>
              <th>Total Cost</th>
              <td>Tk. {{totalCost}}</td>
            </tr>

          </table>

          <br>

          <button class="confirm-button" @click="resetData">
            Book Again
          </button>
        </div>

        <div class="ticket-app__top">
          <div class="seat-states">
            <div class="seat-state" v-for="(value, key) in seatStates">
              <div class="seat-state__color" :style="{backgroundColor: value.color}"></div>
              <div class="seat-state__text">{{ value.text }}</div>
            </div>
          </div>
        </div>

        <div class="ticket-app__bottom">
          <div class="ticket-app__left">
            <div class="bus">
              <div class="bus__top">
                <div class="bus__door">Door</div>
                <div class="bus__driver">Driver</div>
              </div>

              <div class="seats">
                <div class="seat" :class="{
                  'seat--sold': seat.type === 'sold',
                  'seat--booked': seat.type === 'booked',
                  'seat--selected': seat.type === 'selected'

                  }" v-for="(seat, i) in seats" :key="seat.name" @click="handleClick(i)">
                  {{seat.name}}
                </div>
              </div>


            </div>
          </div>

          <div class="ticket-app__instruction" v-if="selectedSeats.length === 0">
            No seats selected <br />
            Select some seats first
          </div>
          <div class="ticket-app__right" v-else>
            <div class="cart">
              <strong>Selected Seats</strong>
              <table class="selected-seats">
                <thead>
                  <tr>
                    <th>Seat</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(seat, i) in selectedSeats" :key="seat.name">
                    <td>{{seat.name}}</td>
                    <td>Tk. {{seat.price}}</td>
                  </tr>

                  <tr v-if="appliedCoupon !== null">
                    <th>Discount</th>
                    <th>Tk. -{{appliedCoupon.discount}}</th>
                  </tr>

                  <tr>
                    <th>Total</th>
                    <th>Tk. {{totalCost}}</th>
                  </tr>
                </tbody>
              </table>

              <p v-if="appliedCoupon === null">
                Have a coupon?
                <input type="text" v-model="couponCode" placeholder="10 Digits Code" />
              </p>
              <p v-else>Applied Coupon : {{ appliedCoupon.code }}</p>
            </div>
            <div class="info">
              <input type="text" placeholder="Name" v-model="name" />
              <input type="text" placeholder="Mobile" v-model="mobile" />
            </div>

            <button :disabled="! ButtonStatus" class="confirm-button" @click="confirm">Confirm</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div id="ComponentwithTemplateApp" class="container m-4">
    <hr>
    <h2><span class="hasTag"> # </span> Component and Template</h2>
    <p> Component | Template</p>
    <span>{{ message }}</span>
    <button-counter></button-counter>
  </div>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="app.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
</body>

</html>